.miniContainer{
    width: 100%;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px;
    margin: 20px 0;
}

.miniHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headingWithTitle{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.greenColor{
    color: green;
}