@import "../../../styles/colors.module.scss";
.Modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .Box {
    min-width: 350px;
    background: $white;
    box-shadow: 1px 1px 10px $gray-800;
    padding: 30px;
    border-radius: 5px;
.title{
  text-transform: capitalize;
  margin-bottom: 10px ;
}
      .children{
        margin:20px 0 ;
      }
    .description {
      margin: 10px 0;
    }
    .modalBtn{
      // width: 250px;
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
