@import "../../../styles/breakpoints.module.scss";
.wishlist {
  .wishlistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .wishlistImage {
      width: 325px;
      height:146px;
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      @include responsive("mdDown") {
        width: 250px;
        height: 130px;
        img {
          object-fit: fill;
        }
      }
      @include responsive("smDown") {
        width: 220px;
        height: 110px;

      }
    }
    .wishlistDesc {
      h4 {
        font-weight: 800;
      }
    }
  }
}
