@import '../../../styles/breakpoints.module.scss';
@import '../../../styles/colors.module.scss';

.ChangePassword{
    .ChangePasswordHeader{
        width: 100%;
        text-align: start;
        font-size: 18px;
        text-transform: capitalize;
        border-bottom: 1px solid $gray-300;
        padding-bottom: 10px;
        font-weight: 500;
    }

    .ChangePasswordContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .passwordWrapper{
            margin-bottom: 20px;
            width: 500px; 
            padding-top: 10px;  
            .password{
                :global(.css-1nrlq1o-MuiFormControl-root){
                    width: 100%;
                    margin: 8px 0;
                }

            }
            @include responsive('mdDown'){
                    width: 100%;
                
            }
        }
        .errorMsg{
            color: $red ;
        }
        .setButton{
            display: flex;
            justify-content: end;
            width: 500px;
            gap: 20px;

            @include responsive('xsDown'){
                flex-direction: column;
                width: 100%;
                gap: 15px;
            }
        }
    }
  
}