@import "../../styles/breakpoints.module.scss";
@import "../../styles/colors.module.scss";
.userProfileWrapper {
  min-height: calc(100vh - 108px);

  display: flex;
  flex-direction: column;
  align-items: center;
  .contentWrapper {
    padding: 20px;
    background-color: $white;
    box-shadow: 0 2px 4px 1px $gray-400;
    margin-top: 20px;
    border-radius: 10px;
    padding-bottom: 0;
    width: 80%;
    .profileHeader {
      display: flex;
      .avatarWrapper {
        width: 110px;
        height: 110px;
        margin-right: 20px;
        position: relative;
        
        // margin-bottom: 20px;
        .avater,
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
        // .profileImg {
          
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   border-radius: 0 0 10px 10px;
        //   .userImg{
        //     width: 100%;
        //     height: 100%;;
        //     background-color: $black;
        //   }
        //   // visibility: hidden;
        //   // opacity: 0;
        // }
        // &:hover {
        //   // visibility: visible;
        //   // opacity: 1;
        //   background-color: red;
        //   z-index: 1000;
        // }
      }
      .avatarDetails {
        display: flex;
        align-items: flex-end;
        margin-top: 15px;
        .avatarTitle{
          .profileName,.profileEmail{
            margin: 10px 0;
          }
        }
      }
      @include responsive("mdDown") {
        flex-direction: column;
      }
    }
    .tabs {
      margin-top: 10px;
      :global(.css-1gsv261) {
        border: none;
        :global(.css-jpln7h-MuiTabs-scroller) {
          overflow: auto !important;
        }
      }
    }

    @include responsive("mdDown") {
      width: 90%;
    }
    @include responsive("smDown") {
      width: 95%;
    }
  }

  .profileComponent {
    background-color: $white;
    box-shadow: 0 2px 4px 1px $gray-400;
    margin: 20px 0;
    border-radius: 10px;
    width: 80%;
    @include responsive("mdDown") {
      width: 90%;
      :global(.css-19kzrtu) {
        padding: 40px;
      }
    }
    @include responsive("smDown") {
      width: 95%;
      :global(.css-19kzrtu) {
        padding: 30px;
      }
    }
  }
}
